<template>
  <div class="container">
    <div>
      <h1 class="title">
        <img src="logo.png" alt="">
      </h1>
      <h2 class="subtitle">
          Please provide all the information about the patient. <br> Edit the text according to how the conversation will be.
      </h2>
      <b-form @submit="createPatient($event)">
        <b-form-group label-for="name">
          <b-form-input
            id="name"
            v-model="patientInfo.name"
            placeholder="Name"
            type="text"
            required />
        </b-form-group>
        <b-form-group label-for="emailAddress">
          <b-form-input
            id="emailAddress"
            v-model="patientInfo.emailAddress"
            placeholder="Email Address"
            type="text"
            required />
        </b-form-group>
        <b-form-group label-for="name">
          <b-form-input
            id="born"
            v-model="patientInfo.born"
            placeholder="Date of birth"
            type="text" />
        </b-form-group>
        <b-form-group label-for="age">
          <b-form-input
            id="age"
            v-model="patientInfo.age"
            placeholder="Age"
            type="text" />
        </b-form-group>
        <b-form-group label-for="city">
          <b-form-input
            id="city"
            v-model="patientInfo.city"
            placeholder="City"
            type="text" />
        </b-form-group>
        <b-form-group label-for="country">
          <b-form-input
            id="country"
            v-model="patientInfo.country"
            placeholder="Country"
            type="text" />
        </b-form-group>
        <b-form-group label-for="love">
          <b-form-input
            id="love"
            v-model="patientInfo.love"
            placeholder="Something they love"
            type="text" />
        </b-form-group>
        <b-form-group label-for="hobby">
          <b-form-input
            id="hobby"
            v-model="patientInfo.hobby"
            placeholder="Hobby"
            type="text" />
        </b-form-group>
        <b-form-group label-for="mother">
          <b-form-input
            id="mother"
            v-model="patientInfo.mother"
            placeholder="Mother's name"
            type="text" />
        </b-form-group>
        <b-form-group label-for="father">
          <b-form-input
            id="father"
            v-model="patientInfo.father"
            placeholder="Father's name"
            type="text" />
        </b-form-group>
        <b-form-group label-for="children">
          <div class="form-row" :key="index" v-for="(child, index) in patientInfo.children">
            <b-input-group>
              <b-form-input v-model="child.name" type="text" />
              <b-input-group-append>
                <b-button @click="removeChild(index)">
                  <span aria-hidden="true">&times;</span>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
          <div class="form-row">
            <div class="col">
              <b-form-input
                id="children"
                v-model="newChild.name"
                placeholder="Children's name"
                type="text" />
              </div>
              <div class="col">
                <button type="button" v-on:click="addChild" class="btn btn-block btn-light"> + Add another </button>
              </div>
          </div>
        </b-form-group>
        <b-form-group label-for="grandchildren">
          <div class="form-row" :key="index" v-for="(grandchild, index) in patientInfo.grandchildren">
            <b-input-group>
              <b-form-input v-model="grandchild.name" type="text" />
              <b-input-group-append>
                <b-button @click="removeGrandchild(index)">
                  <span aria-hidden="true">&times;</span>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
          <div class="form-row">
            <div class="col">
              <b-form-input
                id="grandchildren"
                v-model="newGrandchild.name"
                placeholder="Grandchildren's name"
                type="text" />
              </div>
              <div class="col">
                <button type="button" v-on:click="addGrandchild" class="btn btn-block btn-light"> + Add another </button>
              </div>
          </div>
        </b-form-group>
        <b-form-group label-for="carer">
          <b-form-input
            id="carer"
            v-model="patientInfo.carer"
            placeholder="Carer's name"
            type="text" />
        </b-form-group>
        <b-button type="submit" variant="primary" class="btn btn-block btn-primary">Save</b-button>
      </b-form>
      <b-alert variant="danger" dismissible :show="error">{{error}}</b-alert>
      <b-alert variant="success" dismissible :show="success">{{success}}</b-alert>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  components: {
  },
  data() {
    return {
      patientInfo: {
        name: '',
        emailAddress: '',
        born: null,
        age: null,
        city: null,
        country: null,
        love: null,
        hobby: null,
        mother: null,
        father: null,
        children: [],
        grandchildren: [],
        carer: null
      },
      newChild: { name: null },
      newGrandchild: { name: null },
      error: null,
      success: null
    }
  },
  methods: {
    addChild() {
      this.patientInfo.children.push(this.newChild)
      this.newChild = { name: null }
    },
    removeChild(index) {
      this.patientInfo.children.splice(index, 1)
    },
    addGrandchild() {
      this.patientInfo.grandchildren.push(this.newGrandchild)
      this.newGrandchild = { name: null }
    },
    removeGrandchild(index) {
      this.patientInfo.grandchildren.splice(index, 1)
    },
    createPatient($event) {
      $event.preventDefault()
      axios.post('/api/patients/', this.patientInfo)
        .then((response) => {
          this.success = response.data.message
        })
        .catch((e) => {
          this.error = e.response.data.message
        })
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.title img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.btn-primary {
  background-color: #B560C4;
  border: 0;
  font-weight: 700;
  font-size: 24px;
}

.btn-primary:hover {
  background-color: #D2D2D2;
}

.form-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.alert-danger {
    margin-top: 10px;
}

.alert-success {
    margin-top: 10px;
}

</style>
